@page
@model PodcastsWeb.Pages.Podcasts.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Podcast</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Podcast.ID" />
            <div class="form-group">
                <label asp-for="Podcast.Title" class="control-label"></label>
                <input asp-for="Podcast.Title" class="form-control" />
                <span asp-validation-for="Podcast.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.RecordedDate" class="control-label"></label>
                <input asp-for="Podcast.RecordedDate" class="form-control" />
                <span asp-validation-for="Podcast.RecordedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Serie" class="control-label"></label>
                <input asp-for="Podcast.Serie" class="form-control" />
                <span asp-validation-for="Podcast.Serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podcast.Duration" class="control-label"></label>
                <input asp-for="Podcast.Duration" class="form-control" />
                <span asp-validation-for="Podcast.Duration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
